@charset "utf-8";
/*=========================Reset_start==========================*/
body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,table,th,td,a,img,span,strong,var,em,input,textarea,select,option{margin: 0; padding: 0;}
html,body{ font-size: 12px; text-align: left;}
ul,ol{list-style: none;}
img{border: 0;}
input,select,textarea{outline:0;}
textarea{resize:none;}
table{border-collapse: collapse; border-spacing: 0;}
th,strong,var,em{font-weight: normal; font-style: normal;}
a{text-decoration: none;}
.FC66{color: #666!important;}
.FCCC{color: #cccccc!important;}
.FCA8{color: #A8A8A8!important;}
.FC99{color: #999!important;}
.FCFC{color: #FC716E!important;}
.FC75{color: #7585A8!important;}
.FC25{color: white!important;}
.Single{float: left;width: 100%;box-sizing: border-box;}
/*a:link,a:visited,a:hover,a:active{text-decoration:none;} */
/*==========================Reset_End===========================*/
html,body{background: #F1F1F1;}
.Content{float: left; box-sizing: border-box;width: 100%;;padding: 0.5rem;}
.TopBox{float: left;width: 100%;box-sizing: border-box;background: #D9583F;}
.UserInfo{float: left;width: 100%;}
.UserBox{ overflow: hidden;width: 60%;box-sizing: border-box;margin: 0 auto;padding: 0.25rem;}
.ImgBg{float: left;width:100%;text-align: center;margin-top: 1rem;}
.PhotoBox{width: 1.5rem; overflow: hidden;  height: 1.5rem;margin: 0 auto 0.1rem auto;background: white; border: 2px solid white;border-radius: 100%;}
.Photo{width: 100%;}
.UserTxt,.MainName{float: left;color: #333;width: 100%;font-size: 0.4rem;text-align: center;line-height: 0.6rem;}
.UserTxt{font-size: 0.35rem;}
.AmtBox{float: left;width: 50%;text-align: center;margin-top: 0.8rem;}
.AmtTit,.Amt{float: left;width: 100%;text-align: center;}
.AmtTit{font-size: 0.3rem;color: #AEAEAE;}
.Amt{font-size: 0.4rem;color: #333;font-weight: bold;}

.BoxFade{ display: none; position: fixed;z-index: 2;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.7);}

@keyframes Open {
    0% {  -webkit-transform: rotate(0deg);  transform: scale(1); }
    50% {  -webkit-transform: rotate(-10deg);  transform: scale(1.1); }
    100% {  -webkit-transform: rotate(10deg);  transform: scale(1.2); }
}
@keyframes Newrotate {
    0% {  -webkit-transform: rotate(0deg);  transform: rotate(0deg); }

    50% {  -webkit-transform: rotate(-15deg);  transform: rotate(-10deg); }

    100% {  -webkit-transform: rotate(15deg);  transform: rotate(10deg); }
}
.BoxFade img:nth-child(2){width: 5rem;position: absolute;z-index: 2; top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
.Hah{display: none; width: 100%;position: absolute;top: 0;left: 0;}
.ImgBoxOpen{animation: Newrotate 0.2s  6;}
.CloseBtn,.CloseLottery{position: absolute;z-index: 5; width: 1rem;height: 1rem;right: 1rem;top: 5rem;}
.CloseLottery{top: 1rem;}
.GoBtnBox{perspective: 500px;float: left;text-align: center;margin-top: 2rem; width: 100%;box-sizing: border-box;}
.BtnImg{width: 5rem;}
.icon {
    width: 10%; height: 1rem;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    float: left;;
}
.LotteryListBox{overflow: hidden; perspective: 500px;border-radius:0.5rem; box-sizing: border-box; float: left;margin-top: 1rem; width: 100%;background: rgba(255,255,255,0.6);}
.Title{font-size: 0.42rem;border-bottom: 1px solid #ccc; background: white; color: #333;text-align: center;float: left;width: 100%;height: 1rem;line-height: 1rem;}
.LotteryList{box-sizing: border-box; float: left;width: 100%;margin-top: 0.5rem;}
.LotteryList li{background:white;padding: 0 0.4rem; border-bottom: 1px solid #ccc; text-align: left;line-height: 1rem;box-sizing: border-box; float: left;width: 100%; font-size: 0.4rem;color:#363636 }
.LotteryList li:last-child{border: 0}
.LotteryList span{float: left;overflow: hidden; text-overflow: ellipsis;  white-space: nowrap; line-height: 1rem;box-sizing: border-box; font-size: 0.35rem;color:#363636 ; width: 90%;}
@keyframes GoBtnrotate {
    0% {  -webkit-transform: rotate(0deg);  transform: rotate(0deg); }
    25% {  -webkit-transform: rotate(-10deg);  transform: rotate(-10deg); }
    50% {  -webkit-transform: rotate(0deg);  transform: rotate(0deg); }
    75% {  -webkit-transform: rotate(10deg);  transform: rotate(10deg); }
    100% {  -webkit-transform: rotate(0deg);  transform: rotate(0deg); }
}
.BtnImg{-webkit-animation:GoBtnrotate 1s infinite linear;animation:GoBtnrotate 1s infinite linear; }


.Bg0{background: url("../img/list/0.png")center center no-repeat!important;background-size: 100%!important;}
.Bg1{background: url("../img/list/1.png")center center no-repeat!important;background-size: 100%!important;}
.Bg2{background: url("../img/list/2.png")center center no-repeat!important;background-size: 100%!important;}
.Lottery{perspective: 500px;box-sizing: border-box; background: white; width: 9rem;height: 9rem;;border-radius:0.1rem;box-shadow: 0 0 6px #888; overflow: hidden;position: absolute;top: 0;bottom: 0; margin:  auto; }
.Lottery li{position: relative; text-align: center; box-sizing: border-box;width: 2.04rem;height: 2.04rem;margin: 0.1rem; background: rgba(0,0,0,0.7);padding: 0.2rem;border-radius: 0.1rem; float: left; }
.Lottery li img{width: 80%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
/*.Lottery li div{ height: 0.4rem;text-align: center; width: 100%;font-size: 0.3rem;color: #333;line-height: 0.4rem;}*/
.SmBox{float: left;width: 100%;height: 100%;box-sizing: border-box;padding: 0.2rem 0;}
.Txt{font-size: 0.3rem;color: white;float: left;width: 100%;line-height:2rem;}
.Test{float: left;margin-top: 1rem; text-align: center; width: 100%;height: 1.5rem;}
.Test a{display: block;margin: 0 auto; width: 5rem;height: 1rem;line-height: 1rem;text-align: center;font-size: 0.4rem;background:rgba(13,201,148,0.8) ;color: white;border-radius: 0.3rem;}
.Record{position: fixed;bottom: 0;left: 0;width: 100%;font-size: 0.35rem;color:#7684A5;text-decoration: none;text-align: center;line-height: 1rem;}